<div class="content" #content>
    <h3>Pedido {{ pedido?.instante }}</h3> 
    <span class="text-center">#{{ pedido?.idPedido }}#</span><br>
    <span><strong>Cliente:</strong> {{ pedido?.cliente.nome }}</span><br>
    <span><strong>Telefone:</strong> {{ pedido?.cliente.telefone | phone }}</span><br>
    <div *ngFor="let end of pedido?.cliente.enderecos">
        <span><strong>Endereço:</strong> {{ end?.logradouro }} , {{ end?.numero}}, {{ end?.bairro }}, {{end?.complemento }}</span>
    </div>
    <div>
        <h4>Produtos</h4>
        <div *ngFor="let item of pedido?.itens">
            <span><strong>{{ item.quantidade }}x Item: {{ item.produto.nome }} Valor: {{ item.preco  | currency: 'BRL': 'symbol'}}</strong></span>
        </div>
    </div>
    
    <div>
        <h2>Total: {{ pedido?.totalPedido | currency: 'BRL': 'symbol' }}</h2>
        <h5 *ngIf="pedido?.formaPagamento.formaPagamento == 'DINHEIRO'">Troco para : {{ pedido?.valorPago | currency: 'BRL': 'symbol' }}</h5>
        <h5 *ngIf="pedido?.formaPagamento.formaPagamento == 'DINHEIRO'">Valor de troco : {{ pedido?.valorPago  - pedido?.totalPedido | currency: 'BRL': 'symbol' }}</h5>
    </div>
    <h4><strong>Forma de Pagamento:</strong>  {{ pedido?.formaPagamento.formaPagamento }}</h4>
    <br *ngIf="pedido?.formaPagamento.formaPagamento == 'ASSINAR'">
    <hr *ngIf="pedido?.formaPagamento.formaPagamento == 'ASSINAR'">
    <div>
        <h3>MARMITESKE 66 9 9602-9237</h3>
    </div>
</div>
<button class="btn btn-primary" (click)="imprimir()" >Imprimir</button>
<button class="btadd btn btn-primary" [routerLink]="['/order-confirmation']">Voltar</button>
