<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Mesa {{ pedido?.mesa.numeroMesa }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{ form.value | json }}
      {{ form.valid }}
        <h2>Total: {{ pedido?.totalPedido | currency: 'BRL': 'symbol' }}</h2>
        <form [formGroup]="form" novalidate>
          <div class="form-group col-sm-12">
          <select class="form-control" formControlName="fPagamento" [(ngModel)]="formaPagamento">
            <option [selected]="true" value="">Selecione uma forma de pagamento</option>
            <option *ngFor="let fPagamento of formaPagamentos"
            value="{{ fPagamento.id }}">
            {{ fPagamento.formaPagamento }}
            </option>
          </select>
          </div>
          
          <div class="troco" *ngIf="formaPagamento === '1'">
            <label>Troco:</label> <br >
            <input type="number" [(ngModel)]="troco" formControlName="troco">
          </div>
          <input type="number" [(ngModel)]="total" *ngIf="form.valid">
          </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
  </ng-template>

<div class="content" #content>
    <h3>Pedido {{ pedido?.instante }}</h3> 
    <h3 class="text-center">Mesa {{ pedido?.mesa.numeroMesa }}</h3>
    <div>
        <h4>Produtos</h4>
        <div *ngFor="let item of pedido?.itens">
            <span><strong>{{ item.quantidade }}x Item: {{ item.produto.nome }} Valor: {{ item.preco  | currency: 'BRL': 'symbol'}}</strong></span>
        </div>
    </div>
    
    <div>
        <h2>Total: {{ pedido?.totalPedido | currency: 'BRL': 'symbol' }}</h2>
    </div>
    <div class="footer">
        <h2>MARMITESKE</h2>
    </div>
</div>
<button class="btn btn-primary" (click)="imprimir()" >Imprimir</button>
<button class="btadd btn btn-primary" [routerLink]="['/order-mesa-confirmation']">Voltar</button>
<button class="btadd btn btn-primary" (click)="open(content)">Pagar</button>

